<h1>Projects</h1>
<a href="http://justbettercode.com/Projects/CFW" target="_blank">
    <div class="cfw">
        <div class="info">
            <img src="./img/cfw-logo.png">
        </div>
    </div>
</a>
<a href="http://justbettercode.com/Projects/MWord/snazzy" target="_blank">
    <div class="mword">
        <div class="info">
            <h1>Exhibit M</h1>
        </div>
    </div>
</a>
<a href="http://justbettercode.com/Projects/Dallas" target="_blank">
    <div class="nacho">
        <div class="info">
            <h1>Nacho Business</h1>
        </div>
    </div>
</a>
<a href="http://justbettercode.com/BodyMantra" target="_blank">
    <div class="body-mantra">
        <div class="info">
            <h1>Body Mantra</h1>
        </div>
    </div>
</a>