@import "vars";

body{
  background-color: @black;
  font-family: @bodyFont;
  font-size: 20px;
  color: @white;
}

b{
  font-weight: 900 !important;
  font-size: 24px;
}

form{
  text-align: center;
  margin: 0 15%;
}

a{
  color: @projects;
  &:hover {
    text-decoration: none;
    color: @teal;
  }
}

nav{
  background-color: #333;
  opacity: .8;
  color: @white;
  font-family: @subheaderFont;
  font-size: 20px;
  li a{
    color: #fff;
  }
  .icon-bar{
    background-color: @white;
  }
  z-index: 1000;
}

h1{
  margin: 0 auto 30px;
  .brand{
    font-size: 12px;
  }
}

h1, h2, h3, h4, h5, h6{
  font-family: @headerFont;
  color: @white;
  code{
    background-color: inherit;
    border-radius: 0;
    color: inherit;
    padding: auto;
    font-family: @subheaderFont;
  }
}

.show-case{
  margin: auto;
  height: 123px;
  width: 118px;
  font-size: 90px;
  &.small{
    font-size: 45px;
    height: 62px;
    width: 59px;
  }
  a{
    box-shadow: 0 0 0 4px rgba(255,255,255,1);
    border: solid 10px transparent;
    background-color: white;
    border-radius: 75px;
    margin: auto;
    font-family: 'FontAwesome';
    padding: 15px 20px;
    transition: background 0.2s, color 0.2s;
    &.fa-gear{
      color: @gray;
      &:hover:before{
        -webkit-animation: spinAround 2s linear infinite;
        -moz-animation: spinAround 2s linear infinite;
        animation: spinAround 2s linear infinite;
      }
    }

    &.fa-heart{
      color: @red;
      &:hover:before{
        -webkit-animation: thumpThump 2s linear infinite;
        -moz-animation: thumpThump 2s linear infinite;
        animation: thumpThump 2s linear infinite;
      }
    }

    &.fa-pencil{
      color: @pencil;
      &:hover:before{
        -webkit-animation: pencil 2s linear infinite;
        -moz-animation: pencil 2s linear infinite;
        animation: pencil 2s linear infinite;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
  & + h2{
    text-align: center;
    border: 10px transparent solid;
    margin-left: 30px;
  }
}

.content{
  bottom:0;
  padding:75px 100px 0;
  position:absolute;
  top:0;
  width:100%;
  height: 100%;


  &.home{
    background-color: @teal;
    padding-top: 150px;
  }

  &.technical{
    background-color: @gray;
    .row{
      margin-top: 100px;
    }
  }

  &.artistic{
    background-color: @pencil;
    .row{
      margin-top: 100px;
    }
  }

  &.emotional{
    background-color: @red;
    .row{
      margin-top: 100px;
    }
  }

  &.projects {
    background-color: @projects;
    a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      text-align: center;
      .info {
        opacity: 0;
        img {
          margin: 50px 0;
          height: 100px;
        }
      }
      &:hover {
        .cfw {
          .info {
            opacity: 1;
            animation: flipInTop 1s;
            -webkit-animation: flipInTop 1s;
            -moz-animation: flipInTop 1s;
          }
        }
        .nacho {
          .info {
            opacity: 1;
            animation: rubberBand 1s;
            -webkit-animation: rubberBand 1s;
            -moz-animation: rubberBand 1s;
            h1 {
              font-family: 'MuddyTractor', Verdana, sans-serif;
              font-size: 75px;
              color: @projects;
              padding-top: 50px;
              text-shadow: 0 0 2px #aacc36;
            }
          }
        }
        .body-mantra {
          .info {
            opacity: 1;
            animation: flipInTop 1s;
            -webkit-animation: flipInTop 1s;
            -moz-animation: flipInTop 1s;
            h1 {
              font-family: 'GreatVibes', 'Times New Roman', serif;
              font-size: 50px;
              text-decoration: none;
              padding-top: 50px;
              color: #C070A6;
              text-shadow: 0 0 2px #fff;
            }
          }
        }
      }
    }

    div {
      height: 200px;
      width: 100%;
      &.cfw {
        background: url('../img/cfw.png') center no-repeat;
      }
      &.nacho {
        background: url('../img/nacho.jpg') center no-repeat;
      }
      &.body-mantra {
        background: url('../img/body-mantra.jpg') center no-repeat;
        background-size: 100% 100%;
      }
    }
  }

  &.partners{
    background-color: @partners;
  }

  &.contact{
    background-color: @contact;
  }
}

footer{
  position: fixed;
  bottom: 1px;
  right: 10px;
  width: 100%;
  z-index: 1000;
}

p{
  text-align: left;
}

.margin-bottom{
  margin-bottom: 50px;
}

.contact-details{
  margin-top: 40px;
  h4{
    margin-right: 8%;
    display: inline;
  }
  .email{
    text-align: right;
  }
}


/*Keyframes*/
/*SpinAround*/
.spin(){
  from {-webkit-transform: rotate(0deg)}
  to {-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes spinAround {.spin}
@-moz-keyframes spinAround {.spin}
@keyframes spinAround {.spin}
/*ThumpThump*/
.thump-thump(){
  from { transform: none; }
  20% { transform: scale(1.25); }
  40% { transform: none; }
  60% { transform: scale(1.18); }
  80% {transform: none;}
  to { transform: none; }
}
@-webkit-keyframes thumpThump {.thump-thump}
@-moz-keyframes thumpThump {.thump-thump}
@keyframes thumpThump {.thump-thump}
/*Pencil*/
.pencil(){
  from{transform: none;}
  25%{transform: translate(10px, 5px);}
  50%{transform: translate(20px,0);}
  75%{transform: translate(30px, 5px);}
  to{transform: none;}
}
@-webkit-keyframes pencil {.pencil}
@-moz-keyframes pencil {.pencil}
@keyframes pencil {.pencil}

/* scale up */
@keyframes scaleUp {
  from 	{ opacity: 0.3; -webkit-transform: scale(0.8); }
}
/* slide in from the bottom */
@keyframes slideOutLeft {
  to 		{ transform: translateX(-100%); }
}


.ng-enter 		{ z-index: 888; }
.ng-leave 		{ z-index: 999; }