<h1>Artistic Design</h1>

<div class="margin-bottom">
    <div class="show-case">
        <a href="./#/artistic" class="fa-pencil"></a>
    </div>
</div>

<p>
    <b>Aesthetics</b> encourage people <b>stay</b> on a site, <b>explore</b> a site, and <b>show</b> a site to other people.
    Changing the font on a site can change the entire <b>atmosphere</b> you experience when you look at it.
    Design lets a user know what is clickable, what is complete, and what they need to do next.
    Design can make a website covered in clutter or sleek and refined. Staying up to date with the
    latest <b>trends</b> and practices of design as well as constantly consulting with outside resources
    to determine where a design stands.
</p>
<p>
    Just Better Code pays attention to the small <b>details</b> so that you will never have to notice them.
</p>



<div class="row">
    <div class="col-sm-4">
        <div class="show-case small">
            <a href="./#/technical" class="fa-gear"></a>
        </div>
        <h2>technical</h2>
    </div>
    <div class="col-sm-offset-4 col-sm-4">
        <div class="show-case small">
            <a href="./#/emotional" class="fa-heart"></a>
        </div>
        <h2>emotional</h2>
    </div>
</div>

