
<h1>Emotional Experience</h1>

<div class="margin-bottom">
    <div class="show-case">
        <a href="./#/emotional" class="fa-heart"></a>
    </div>
</div>


<p>Just Better Code develops while <b>constantly</b> considering the experience of the person who will be using the site.
    A website should not just be a path from person to information, the path should be <b><i>effortless</i></b> and <b><i>enjoyable</i></b>.
</p>
<p>A website can be <b>positively</b> emotionally impactful in two ways:</p>
<ul>
    <li>It is so <b>easy to navigate</b> that you do not have time to generate a negative
        opinion about the site.</li>
    <li>It <b>connects</b> with you in an <b>unexpected</b> way.</li>
</ul>


<div class="row">
    <div class="col-sm-4">
        <div class="show-case small">
            <a href="./#/technical" class="fa-gear"></a>
        </div>
        <h2>technical</h2>
    </div>
    <div class="col-sm-offset-4 col-sm-4">
        <div class="show-case small">
            <a href="./#/artistic" class="fa-pencil"></a>
        </div>
        <h2>artistic</h2>
    </div>
</div>